@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: FuturePT;
  src: url("./Fonts/FuturaCyrillicBook.ttf");
  font-weight: 500;
}

@font-face {
  font-family: PlaySir;
  src: url("./Fonts/PLAYSIRRegular.otf");
  font-weight: 500;
}

@font-face {
  font-family: QuickStyler;
  src: url("./Fonts/Quickstyler.otf");
  font-weight: 500;
}

@font-face {
  font-family: PlayFair;
  src: url("./Fonts/PlayfairDisplay-Regular.ttf");
  font-weight: 500;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #BF00FF; /* Electric purple */
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #BF00FF #f1f1f1;
}